
*
{
	margin: 0px;
	padding: 0px;
}
.body{

	height: 650px;
	width: 100%;
	background-image: url(s1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.mario img
{
	height: 100px;
	width: 100px;
	position: relative;
	top: 510px;
	animation-name: game;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}

@keyframes game
{
	0%{top: 500px;left: 0%;}
	5%{top: 450px;left: 0%;}
	15%{top: 450px;left: 10%;}
	20%{top: 380px;left: 10%;}
	25%{top: 380px;left: 25%;}
	30%{top: 310px;left: 25%;}
	35%{top: 310px;left: 35%;}
	40%{top: 240px;left: 35%;}
	45%{top: 240px;left: 48%;}
	50%{top: 180px;left: 48%;}
	55%{top: 180px;left: 58%;}
	60%{top: 100px;left: 58%;}
	/*65%{top: 100px;left: 58%;}*/
	/*70%{top: 100px;left: 58%;}*/
	/*75%{top: 100px;left: 68%;}*/
	70%{top: 100px;left: 70%;}
	75%{top: 35px;left: 70%;}
	80%{top: 35px;left: 80%;}
	85%{top: 50px;left: 80%;}
	90%{top: -25px;left: 80%;}
	100%{top: -25px;left: 100%;}


}